body {
  font-family: 'Libre Baskerville', serif;


}

h1 {
  color: white;
  display: block;
  font-size: 45px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 0;
font-family: 'Libre Baskerville', serif;
padding-bottom: 10px; 
padding-top: 15px;

}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
  font-weight: 100;
  text-align: ;
}

li:first-letter {
  text-transform: capitalize;
}

#temperature:hover{
  background: white;
  color: black;
  border-radius: 25px 25px 25px 25px;
  padding: 4px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  transition: all 250ms ease-in-out;
}

a{
  color:purple;
}
#active a:hover {
  color: purple;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  font-family: 'Libre Baskerville', serif;
  color: white;
  background-image: url("https://images.pexels.com/photos/1214000/pexels-photo-1214000.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
  
  
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 50px;
  border: 1px solid rgb(135, 135, 135);
  border-radius: 15px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
}

.weather-temperature strong {
  color: white;
  font-size: 70px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.weather-temperature .lin {
  color: white;
  text-decoration: none;
  cursor: default;
}

.weather-temperature .lin:hover {
  text-decoration: none;
}

.weather-forecast{
  margin-top: 30px;
  text-align: center; 
}

.weather-forecast-date{
  font-size: 16px;
  color: white;
}

.forecast-temperature{
  text-align:center;
}

.end-note{
  text-align: center;
}






