body {
  font-family: arial, sans-serif;
}

h1 {
  color: rgb(135, 135, 135);
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  text-align: left;
}

li:first-letter {
  text-transform: capitalize;
}
#active a:hover {
  color: purple;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 50px;
  border: 1px solid rgb(135, 135, 135);
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.weather-temperature .lin {
  color: black;
  text-decoration: none;
  cursor: default;
}

.weather-temperature .lin:hover {
  text-decoration: none;
}

.weather-forecast{
  margin-top: 30px;
  text-align: center; 
}

.weather-forecast-date{
  font-size: 16px;
  color: blue;
}

.forecast-temperature{
  text-align:center;
}
